@font-face {
    font-family: 'thegirlnextdoor';
    src: url('/fonts/thegirlnextdoor.ttf') format('ttf');
}

body {
    background-color: black;
    color: white;
    font-family: 'thegirlnextdoor', 'Times New Roman', Times, serif;
}

img {
    max-width: 100%;
}